[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/wowchemy/starter-academic.git
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
